.menu{
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 40px;

}
.menu li{
    display: inline-block;
    margin-right:30px;

}
.menu_item{
    font-size: 20px;
    font-weight: 400;
    color:#393e46;
}
a{
    text-decoration:none;
    color: #484848;
    font-size: 18px;
    font-weight: 300;
  
}
.cart_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:#F5F5F5;
    padding: 20px 200px;
    margin-top: 60px;
}
.cart_info{
    flex: 0.65;



}
.client_info{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;

}
.productinfo{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}
.cart_summary{
    flex: 0.3;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

}
.cart_h1{
    color: #282828;
    font-size: 20px;
    font-weight: 600;

}
.cart_info_inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cart_label{
    display: block;
    font-size: 15px;
    color: #484848;
    margin-bottom: 5px;
}

.cart_info_input{
    flex: 0.48;
}
.cart_info_input input, .cart_info_input select {
    width: 100%;
    height: 35px;
    padding: 0;
    border: 1px solid #DCDCDC;
    outline: none;
}
.cart_info_input input:focus, cart_info_input select:focus{
    border-color:  #6666ff;
}
.cart_table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.cart_table_img{
    height: 100px;
    width: 100px;
}
.cart_table_head{
    border-bottom: 1px solid #DCDCDC;
    padding: 20px;
}
.cart_table th{
    font-size: 17px;
    color: #484848;
    font-weight: 600;
    padding: 20px;
} 
.cart_table td{
    padding: 20px;
    color: #696969;
    font-size: 15px;
}
tfoot{
    border-top: 1px solid #DCDCDC;
}
.cart_summary_input{
    display: flex;
    width: 100%;
}
.cart_summary_input input{
    flex: 1;
    height: 35px;
    padding: 0;
    border: 1px solid #DCDCDC;
    outline: none;
    margin-right: 10px;
}
.promo_btn{
    color:#ffcc00;
    border: 1px solid #ffcc00;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;

}
.productinfo_cost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #484848;
    margin-top: 20px;
    margin-bottom: 20px;
}
.confirm_btn{
    font-size: 16px;
    background-color:  #ffcc00;
    color: #fff;
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 4px;
}
.confirm_btn:hover{    background-color:  #4ce600;
}
.tableimg{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
