body{
    background-image: url(images/singupbackground.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.signup_form{
display: flex;
flex-direction: column;
align-items: center;
width: 600px;
height: fit-content;    
margin: auto;
position: relative;
top: 40px;
border:1px solid white ;
border-radius: 10px;
padding: 20px;
box-shadow: 0px 0px 8px 1px white;
background-color: rgba(218, 148, 34, 0.4);
}

.signup_form h1{
font-size: 26px ;
font-weight: 500;

}
.signup_form h2{
font-size: 20px ;
font-weight: 500;
margin-top: 0px;
}
.signup_inputs{
display: flex;
flex-direction: column;
margin-bottom: 20px;
width: 100%;
}
.signup_input{      
height: 24px;
border: none;
outline: none;
padding: 10px;
border-radius: 10px;
transition: outline 0.5s ease;
}
.radios_div{
display: flex;
}


.signup_btn{
    width: 100%;
    padding: 8px;
    color: white;
    background-color: rgb(255, 94, 94);
    border: none;
    border-radius: 6px;
    transition:background-color 0.5s ease-out;
}
.signup_btn:hover{
    background-color: rgb(119, 20, 27);
    cursor: pointer;
}   

.signup_input{
    padding: 8px;
    border: none;
    outline: none;
    border-radius:  4px;
}
.signup_input:hover{
    outline:2px solid rgb(255, 136, 0);
}
